// Media Quries

@media screen and (max-width: 990px) {
    .heading {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

@media screen and (max-width: 918px) {
    .heading {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

// Queries for the Login and Register components
@media screen and (max-width: 662px) {

    .loginPage,
    .registerPage {
        .container {
            height: 100%;
            width: 100%;
            flex-direction: column;
            padding: 1.5rem;

            .videoDiv {
                width: 100%;

                .textDiv {
                    .title {
                        font-size: 20px;
                    }

                    p {
                        padding: 1rem;
                    }
                }

                .footerDiv {
                    .text {
                        font-size: 12px;
                    }

                    .btn {
                        padding: .4rem 1.5rem;
                    }
                }
            }

            .formDiv {
                gap: 1rem;
                transform: translateY(-.5rem);

                .headerDiv {
                    padding: 1rem 0;

                    img {
                        width: 40px;
                    }

                    h3 {
                        font-size: 20px;
                    }
                }

                .form {
                    gap: .5rem;

                    .inputDiv {
                        .input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 678px) {

    .loginPage,
    .registerPage {
        .container {
            .videoDiv {
                .textDiv {
                    .title {
                        font-size: 25px;
                    }

                    p {
                        padding: 1rem;
                    }
                }

                .footerDiv {
                    .text {
                        font-size: 12px;
                    }

                    .btn {
                        padding: .8rem 1.5rem;
                    }
                }
            }

            .formDiv {
                .headerDiv {
                    padding: 1.5rem 0;

                    h3 {
                        font-size: 20px;
                    }
                }

                .form {
                    .inputDiv {
                        .input {
                            width: 100%;
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 927px) {

    .loginPage,
    .registerPage {
        .container {
            width: 85%;
        }
    }
}

