.action_buttons_container {
    display: flex;
    align-content: center;
    gap: 0.5rem; // Adds some gap between the buttons
  
    #action_btn_edit,
    #action_btn_delete {
      padding: 0.3rem 0.6rem; // Small size buttons
      font-size: 0.875rem; // Small font size
      border: none;
      border-radius: 4px;
      cursor: pointer;
      color: white;
      transition: background-color 0.3s ease;
    }
  
    #action_btn_edit {
      background-color: blue;
  
      &:hover {
        background-color: darkblue;
      }
    }
  
    #action_btn_delete {
      background-color: red;
  
      &:hover {
        background-color: darkred;
      }
    }
  }
  
  // Additional global styles to ensure buttons look consistent
  button {
    &:focus {
      outline: none;
    }
  }
  